restbase
coverage
/config.yaml
node_modules
npm-debug.log
package-lock.json

# WebStorm IDE files
.idea/*
*.iml

#VS Code
.vscode

# vim temp files
*swp

# Dockerfile (used for deploy)
Dockerfile

# sqlite file (used in testing)
test.db.sqlite3
test.db.sqlite3-journal
test-ng.db.sqlite3
test-ng.db.sqlite3-journal
sqlite.db
db.sqlite3

# uri dumps
uri_dump

# nyc
.nyc_output
