language: node_js
node_js:
    - "0.10"
    - "0.12"
    - "4.2"
    - "iojs-v2.5.0"

sudo: false

services:
    - cassandra

notifications:
  email:
    - services@wikimedia.org

script: sh test/utils/run_tests.sh coverage all && (npm run-script coveralls || exit 0)
