language: node_js
node_js:
  - "6"
  - "10"

sudo: false

notifications:
  irc:
    channels:
      - "irc.freenode.org#wikimedia-services"
    on_success: change
    on_failure: always
addons:
  apt:
    packages:
    - openjdk-8-jre-headless

env:
  - CASSANDRA_VERSION=3.11.2 TEST_TARGET=all

before_install:
  - wget https://archive.apache.org/dist/cassandra/${CASSANDRA_VERSION}/apache-cassandra-${CASSANDRA_VERSION}-bin.tar.gz -P ../
  - tar -xzf ../apache-cassandra-${CASSANDRA_VERSION}-bin.tar.gz -C ../
  - export JAVA_HOME="/usr/lib/jvm/java-8-oracle" PATH=`pwd`/../apache-cassandra-${CASSANDRA_VERSION}/bin:$PATH
  - mkdir -p ../apache-cassandra-${CASSANDRA_VERSION}/logs
  - echo "-Xms256m" >> ../apache-cassandra-${CASSANDRA_VERSION}/conf/jvm.options
  - echo "-Xmx512m" >> ../apache-cassandra-${CASSANDRA_VERSION}/conf/jvm.options
  - sed -i -e 's/^-XX:+UseNUMA/#-XX:+UseNUMA/' ../apache-cassandra-${CASSANDRA_VERSION}/conf/jvm.options
  - bash -x ../apache-cassandra-${CASSANDRA_VERSION}/bin/cassandra

script: npm run lint && npm run coverage -- ${TEST_TARGET} && (npm run-script coveralls || exit 0)
