language: node_js
node_js:
    - "4"
#    - "6"
sudo: false

notifications:
  irc:
    channels:
      - "irc.freenode.org#wikimedia-services"
    on_success: change
    on_failure: always
addons:
  apt:
    packages:
    - oracle-java8-set-default

env:
#  - CASSANDRA_VERSION=2.2.6 TEST_TARGET=all
  - CASSANDRA_VERSION=3.11.0 TEST_TARGET=cassandra

before_install:
  - wget https://archive.apache.org/dist/cassandra/${CASSANDRA_VERSION}/apache-cassandra-${CASSANDRA_VERSION}-bin.tar.gz -P ../
  - tar -xzf ../apache-cassandra-${CASSANDRA_VERSION}-bin.tar.gz -C ../
  - export JAVA_HOME="/usr/lib/jvm/java-8-oracle" JVM_OPTS=" -Xmx4g"
  - java -version
  - mkdir -p ../apache-cassandra-${CASSANDRA_VERSION}/logs
  - cat -n /home/travis/.travis/job_stages
  - bash -x ../apache-cassandra-${CASSANDRA_VERSION}/bin/cassandra -f

script: sh test/utils/run_tests.sh coverage ${TEST_TARGET} && (npm run-script coveralls || exit 0)
