# RESTBase test config, used in integration tests.

# Load some project templates. These are referenced / shared between domains
# in the root_spec further down.
default_project: &default_project
  x-modules:
    /:
      - path: test/test_module.yaml
      - path: projects/wmf_default.yaml
        options: &default_options
          table:
            hosts: [localhost]
            keyspace: system
            username: cassandra
            password: cassandra
            defaultConsistency: one # or 'localQuorum' for production
            storage_groups:
              - name: test.group.local
                domains: /./
            dbname: test.db.sqlite3 # ignored in cassandra, but useful in SQLite testing
          parsoid:
            host: http://parsoid-beta.wmflabs.org
          action:
            apiUriTemplate: "{{'https://{domain}/w/api.php'}}"
          graphoid:
            host: http://graphoid.wikimedia.org
          mathoid:
            host: http://mathoid-tester.wmflabs.org
            # 10 days Varnish caching, one day client-side
            cache-control: s-maxage=864000, max-age=86400
          mobileapps:
            host: http://appservice.wmflabs.org

labs_project: &labs_project
  x-modules:
    /:
      - path: test/test_module.yaml
      - path: projects/wmf_default.yaml
        options:
          <<: *default_options
          action:
            apiUriTemplate: "{{'http://{domain}/w/api.php'}}"

# A different project template, sharing configuration options.
wikimedia.org: &wikimedia.org
  x-modules:
    /:
      - path: test/test_module.yaml
      - path: projects/wikimedia.org.yaml
        options:
          <<: *default_options
          pageviews:
            host: https://wikimedia.org/api/rest_v1/metrics

# A synthetic domain to test pageviews module data
aqs.wikimedia.org: &aqs.wikimedia.org
  x-modules:
    /:
      - path: test/aqs_test_module.yaml
      - path: projects/aqs_default.yaml
        options: *default_options

# Hacky way to parametrize RESTBase tests. TODO: Move to config?
test:
  content_types:
    html: text/html; charset=utf-8; profile="mediawiki.org/specs/html/1.1.0"
    data-parsoid: application/json; charset=utf-8; profile="mediawiki.org/specs/data-parsoid/0.0.1"
    wikitext: text/plain; charset=utf-8; profile="mediawiki.org/specs/wikitext/1.0.0"


# The root of the spec tree. Domains tend to share specs by referencing them
# using YAML references.
spec_root: &spec_root
  title: "The RESTBase root"
  # Some more general RESTBase info
  paths:
    /{domain:en.wikipedia.org}: *default_project
    /{domain:test.wikipedia.org}: *default_project
    /{domain:test2.wikipedia.org}: *default_project

    # labs, used for most tests
    /{domain:en.wikipedia.beta.wmflabs.org}: *labs_project
    /{domain:aqs.wikimedia.org}: *aqs.wikimedia.org

    # For security testing we rely on mocks, so it's OK to use French wiki.
    /{domain:fr.wikipedia.org}:
      <<: *default_project
      security:
        - mediawiki_auth:
            - read

    # global domain
    /{domain:wikimedia.org}: *wikimedia.org

# Finally, a standard service-runner config.
info:
  name: restbase

services:
  - name: restbase
    module: ./lib/server
    conf: 
      port: 7231
      spec: *spec_root
      salt: secret
      default_page_size: 1
      user_agent: RESTBase-testsuite

logging:
  name: restbase
  level: info
  #streams:
  #- type: gelf
  #  host: <%= @logstash_host %>
  #  port: <%= @logstash_port %>

metrics:
  #type: txstatsd
  #host: localhost
  #port: 8125
