# RESTBase config

info:
  name: restbase


templates:

  wmf-content-1.0.0: &wp/content/1.0.0
    swagger: '2.0'
    # swagger options, overriding the shared ones from the merged specs (?)
    info:
      version: 1.0.0-beta
      title: Wikimedia REST API
      description: >
          This API aims to provide coherent and low-latency access to
          Wikimedia content and services. It is currently in beta testing, so
          things aren't completely locked down yet. Each entry point has
          explicit stability markers to inform you about development status
          and change policy, according to [our API version
          policy](https://www.mediawiki.org/wiki/API_versioning).

          ### High-volume access
            - Don't perform more than 500 requests/s to this API.
            - Set a unique `User-Agent` header that allows us to contact you
              quickly.  Email addresses or URLs of contact pages work well.
            - Consider using our [HTML
              dumps](https://phabricator.wikimedia.org/T17017) once they
              become available.

      termsOfService: https://wikimediafoundation.org/wiki/Terms_of_Use
      contact:
        name: the Wikimedia Services team
        url: http://mediawiki.org/wiki/RESTBase
      license:
        name: Apache2
        url: http://www.apache.org/licenses/LICENSE-2.0
    x-subspecs:
      - mediawiki/v1/content
      - mediawiki_v1_graphoid
      - mediawiki/v1/mobileapps
      - test

  wmf-sys-1.0.0: &wp/sys/1.0.0
    info: 
      title: Default MediaWiki sys API module
      version: 1.0.0
    paths:
      /{module:table}: &wp/sys/table # Can use this anchor to share the table
        x-modules:
          # There can be multiple modules too per stanza, as long as the
          # exported symbols don't conflict. The operationIds from the spec
          # will be resolved against all of the modules.
          - name: restbase-mod-table-cassandra
            version: 1.0.0
            type: npm
            options: # Passed to the module constructor
              conf:
                hosts: [localhost]
                keyspace: system
                username: cassandra
                password: cassandra
                defaultConsistency: one # or 'one' for single-node testing
                storage_groups:
                  - name: test.group.local
                    domains:
                      - /test\..*\.org$/
                      - /test\.local$/
                  - name: default.group.local
                    domains: /./

      /{module:page_revisions}:
        x-modules:
            - name: page_revisions
              version: 1.0.0
              type: file

      /{module:key_value}:
        x-modules:
          - name: key_value
            version: 1.0.0
            type: file

      /{module:key_rev_value}:
        x-modules:
          - name: key_rev_value
            version: 1.0.0
            type: file

      /{module:parsoid}:
        x-modules:
          - name: parsoid
            version: 1.0.0
            type: file
            options:
              parsoidHost: http://parsoid-lb.eqiad.wikimedia.org
              # For local testing, use:
              # parsoidHost: http://localhost:8000

      /{module:graphoid}:
        x-modules:
          - name: simple_service
            version: 1.0.0
            type: file
            options:
              paths:
                /v1/png/{title}/{revision}/{graph_id}:
                  get:
                    on_request:
                      - get_from_graphoid:
                          request:
                            uri: http://graphoid.wikimedia.org/en.wikipedia.org/v1/png/{title}/{revision}/{graph_id}

      /{module:mobileapps}:
        x-modules:
          - name: simple_service
            version: 1.0.0
            type: file
            options:
              paths:
                /v1/html/{title}:
                  get:
                    on_request:
                      - get_from_backend:
                          request:
                            uri: http://appservice.wmflabs.org/en.wikipedia.org/v1/page/mobile-html/{title}
                /v1/sections/{title}:
                  get:
                    on_request:
                      - get_from_backend:
                          request:
                            uri: http://appservice.wmflabs.org/en.wikipedia.org/v1/page/mobile-html-sections/{title}
                /v1/sections-lead/{title}:
                  get:
                    on_request:
                      - get_from_backend:
                          request:
                            uri: http://appservice.wmflabs.org/en.wikipedia.org/v1/page/mobile-html-sections-lead/{title}
                /v1/sections-remaining/{title}:
                  get:
                    on_request:
                      - get_from_backend:
                          request:
                            uri: http://appservice.wmflabs.org/en.wikipedia.org/v1/page/mobile-html-sections-remaining/{title}
                /v1/text/{title}:
                  get:
                    on_request:
                      - get_from_backend:
                          request:
                            uri: http://appservice.wmflabs.org/en.wikipedia.org/v1/page/mobile-text/{title}

      /{module:action}:
        x-modules:
          - name: action
            type: file
            options:
              apiRequest:
                method: post
                uri: http://en.wikipedia.org/w/api.php
                headers:
                  # the domain is en.wikipedia.test.local, so we can't use it. use en.wikipedia.org instead
                  #host: 'en.wikipedia.org'
                body: '{$.request.body}'

      /{module:testservice}:
        x-modules:
          - name: simple_service
            version: 1.0.0
            type: file
            options:
              paths:
                /test/{key}:
                  get:
                    on_setup:
                      - init_storage:
                          uri: /{domain}/sys/key_value/testservice.test
                    on_request:
                      - get_from_storage:
                          request:
                            uri: /{domain}/sys/key_value/testservice.test/{key}
                            headers:
                              'cache-control': '{cache-control}'
                          return_if:
                            status: 200
                          catch:
                            status: 404
                      - get_from_api:
                          request:
                            uri: http://en.wikipedia.org/wiki/{+key}
                            body: '{$.request.body}'
                      - store:
                          request:
                            method: put
                            uri: /{domain}/sys/key_value/testservice.test/{key}
                            headers: '{$.get_from_api.headers}'
                            body: '{$.get_from_api.body}'
                      - return_response:
                          return:
                            status: '{$.get_from_api.status}'
                            headers:
                              'content-type': '{$.get_from_api.headers.content-type}'
                              'etag': '{$.store.headers.etag}'
                            body: '{$.get_from_api.body}'

      /{module:testservice_parallel}:
        x-modules:
          - name: simple_service
            version: 1.0.0
            type: file
            options:
              paths:
                /test/{key1}/{key2}:
                  get:
                    on_request:
                      - get_from_api1:
                          request:
                            uri: http://en.wikipedia.org/wiki/{+key1}
                        get_from_api2:
                          request:
                            uri: http://en.wikipedia.org/wiki/{+key2}
                      - return_response:
                          return:
                            status: 200
                            body:
                              first: '{$.get_from_api1}'
                              second: '{$.get_from_api2}'

      /{module:page_save}:
        x-modules:
          - name: page_save
            type: file

  wp-default-1.0.0: &wp/default/1.0.0
    x-subspecs:
      - paths:
          /{api:v1}:
            x-subspec: *wp/content/1.0.0
      - paths:
          /{api:sys}:
            x-subspec: *wp/sys/1.0.0

  wp-secure-1.0.0: &wp/secure/1.0.0
    x-subspecs:
      - paths:
          /{api:v1}:
            x-subspec: *wp/content/1.0.0
            security:
              - read
      - paths:
          /{api:sys}:
            x-subspec: *wp/sys/1.0.0

spec: &spec
  title: "The RESTBase root"
  # Some more general RESTBase info
  paths:
    # test domain
    /{domain:en.wikipedia.test.local}: *wp/default/1.0.0
    /{domain:secure.wikipedia.test.local}: *wp/secure/1.0.0


services:
  - name: restbase
    module: ./lib/server
    conf: 
      port: 7231
      spec: *spec
      salt: secret
      default_page_size: 1

test:
  content_types:
    html: text/html;profile="mediawiki.org/specs/html/1.1.0";charset=utf-8
    data-parsoid: application/json;profile="mediawiki.org/specs/data-parsoid/0.0.1"
    wikitext: text/plain;profile="mediawiki.org/specs/wikitext/1.0.0";charset=utf-8

logging:
  name: restbase
  level: info
  #streams:
  ## XXX: Use gelf-stream -> logstash
  #- type: gelf
  #  host: <%= @logstash_host %>
  #  port: <%= @logstash_port %>

metrics:
  #type: txstatsd
  #host: localhost
  #port: 8125
