Source: restbase
Section: web
Priority: optional
Maintainer: Gabriel Wicke <gwicke@wikimedia.org>
Build-Depends: debhelper (>= 9),
 git,
 nodejs-legacy,
 npm
Standards-Version: 3.9.6
Homepage: https://github.com/gwicke/restbase
Vcs-Git: https://github.com/gwicke/restbase.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/restbase.git;a=summary

Package: restbase
# we only package amd64 for now
Architecture: amd64
Depends: adduser,
 cassandra (>=2.0.10),
 nodejs (>=0.10.0),
 nodejs-legacy,
 logrotate,
 ${shlibs:Depends},
 ${misc:Depends}
Enhances: mediawiki
Description: REST storage service and backend orchestration layer
 Distributed storage with REST interface and a flexible backend orchestration layer. See https://github.com/gwicke/restbase.
